.head-banner-wrapper {
  position: relative;

  background-image: url("/assets/imgs/aim-pattern-left.svg"),
    url("/assets/imgs/aim-pattern-right.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right top;
  background-size: 480px 360px, 680px 360px;

  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    background-image: url("/assets/imgs/aim-pattern-left.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 360px auto;
  }
}
